%br
%br
%br
%br

%div.whitebloks

  %div.textmain1
    %h3 MЕБЕЛЬ ОТ САЛОНА IMPERIA 
    %h3 !!!!!!!РАЗДЕЛ В РАЗРАБОТКЕ!!!!!!! 

  %div.linia
    %hr{:size => "3"}/ 
  .firstdesignmain
    %h2 Мебель от производителя W.Schilling

    .firstfotodesignmain
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "","data-ratio" => "16/9"}
        
        = image_tag( 'furn/Schilling (2).jpg', :class => 'salon' )
        = image_tag( 'furn/Schilling (3).jpg', :class => 'salon' )
        = image_tag( 'furn/Schilling (4).jpg', :class => 'salon' )
        = image_tag( 'furn/Schilling (5).jpg', :class => 'salon' )
        = image_tag( 'furn/Schilling (6).jpg', :class => 'salon' )
        = image_tag( 'furn/Schilling (7).jpg', :class => 'salon' )
        = image_tag( 'furn/Schilling (8).jpg', :class => 'salon' )
        = image_tag( 'furn/Schilling (9).jpg', :class => 'salon' )
        = image_tag( 'furn/Schilling (10).jpg', :class => 'salon' )
        = image_tag( 'furn/Schilling (1).jpg', :class => 'salon' )
        
  %div.linia
    %hr{:size => "3"}/ 
  .firstdesignmain
    %h2 Мебель от производителя Musterring
    %div.maincoloms
      .comteiner-fluid
        .row
          .col-xs-4
            .mainbodyfoto
              %h3 Гостинные
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3100", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringgos (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (6).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (7).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (8).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (9).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (10).jpg', :class => 'salon' )

          .col-xs-4
            .mainbodyfoto
              %h3 Прихожие
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3150", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringpri (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (6).jpg', :class => 'salon' )

          .col-xs-4
            .mainbodyfoto
              %h3 Мягкая мебель
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3200", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringmm (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (6).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (7).jpg', :class => 'salon' )

          .col-xs-4
            .mainbodyfoto
              %h3 Спальни
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3250", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringsleep (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (6).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (7).jpg', :class => 'salon' )
          .col-xs-4
            .mainbodyfoto
              %h3 Столовая зона
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3300", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringeat (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (6).jpg', :class => 'salon' )


  %div.linia
    %hr{:size => "3"}/ 
  .firstdesignmain
    %h2 Мебель от производителя Mobitec

    .firstfotodesignmain
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "","data-ratio" => "16/9",}
        = image_tag( 'furn/mobitec (1).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (2).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (3).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (4).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (5).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (6).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (7).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (8).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (9).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (10).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (11).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (12).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (13).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (14).jpg', :class => 'salon' )


= render "layouts/bottomnavigation"