:javascript
  $(document).ready(function(){
    

    // Плавный скролл по якорям
    $('a[href^="#"]').click(function () { 
        elementClick = $(this).attr("href");
      destination = $(elementClick).offset().top;
      if($.browser.safari){
      $('body').animate( { scrollTop: destination }, 1000 );
      } else {
          $('html').animate( { scrollTop: destination }, 1000 );
      }
      return false;
     });
  });



%div.furnitur_grey60

%div.furnitur_lozung1
  %h2 
    Мебель от производителей в салоне 
    %span{:style => "color: #f20a0f"} ИМПЕРИЯ
  %h3
    %span{:style => "color: #f20a0f"}| 
    %a{:href => "#gak_schiling"}W.Schillig 
    %span{:style => "color: #f20a0f"}| 
    %a{:href => "#gak_mustering"}Musterring 
    %span{:style => "color: #f20a0f"}|
    %a{:href => "##gak_mobitec"}Mobitec 
    %span{:style => "color: #f20a0f"}| 
    %a{:href => "#gak_lattoflex"}Lattoflex 
    %span{:style => "color: #f20a0f"}| 
    %a{:href => "#gak_chtistine"}Christine Kröncke 
    %span{:style => "color: #f20a0f"}|  



%div.f_schilling
  %div.schilling_lozung

    %div.schilling_loz_logo_name
      %h2  
        %span{:style => "color: #f20a0f"} W.Schillig
    %div.schilling_loz_logo_blocks
      %div.schilling_loz_logo_block1
        = image_tag( 'w_schilling_white_logo.png', :class => '',)
      %div.schilling_loz_logo_block2
        = image_tag( 'w_schilling_black_logo.png', :class => '',)
      %div.schilling_loz_logo_block3
        = image_tag( 'w_schilling_award.png', :class => '',)
        
    %div.schilling_loz_logo_list
      %h3 Производит:
      %h4 Диваны
      %h4 Кресла
      %h4 Аксессуары


    %div.schilling_loz_logo_button    
    
  %div.schilling_photo
    %ul.accordion_schilling
      %li= image_tag( 'furn/schilling_black/w_schilling_photo1.jpg', :class => '',)
      %li= image_tag( 'furn/schilling_black/w_schilling_photo2.jpg', :class => '',)
      %li= image_tag( 'furn/schilling_black/w_schilling_photo3.jpg', :class => '',)
      %li= image_tag( 'furn/schilling_black/w_schilling_photo4.jpg', :class => '',)
      %li= image_tag( 'furn/schilling_black/w_schilling_photo5.jpg', :class => '',)
      %li= image_tag( 'furn/schilling_black/w_schilling_photo6.jpg', :class => '',)
      %li= image_tag( 'furn/schilling_black/w_schilling_photo7.jpg', :class => '',)

%div.furnitur_empty_block1



%div.f_schilling
  .firstfotodesignmain
    %h2 
      Матраси и Ламели от производителя 
      %span{:style => "color: #f20a0f"}Lattoflex

    %div{:style => "width: 49%; display: inline-block;"}
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "","data-ratio" => "16/9",}
        = image_tag( 'lattoflex1.png', :class => 'salon' )
        = image_tag( 'lattoflex2.png', :class => 'salon' )
        = image_tag( 'lattoflex3.png', :class => 'salon' )
        = image_tag( 'lattoflex4.png', :class => 'salon' )
    %div{:style => "width: 49%; display: inline-block;"} 
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/iGVcs5nl060?rel=0&showinfo=0", :width => "100%"}

%div.furnitur_empty_block1



%div.f_schilling
  .firstdesignmain
    %h2 
      Мебель от производителя 
      %span{:style => "color: #f20a0f"}Musterring
    %div.maincoloms
      .comteiner-fluid
        .row
          .col-xs-4
            .mainbodyfoto
              %h3 Гостинные
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3100", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringgos (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (6).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (7).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (8).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (9).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (10).jpg', :class => 'salon' )

          .col-xs-4
            .mainbodyfoto
              %h3 Прихожие
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3150", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringpri (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (6).jpg', :class => 'salon' )

          .col-xs-4
            .mainbodyfoto
              %h3 Мягкая мебель
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3200", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringmm (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (6).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (7).jpg', :class => 'salon' )

          .col-xs-4
            .mainbodyfoto
              %h3 Спальни
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3250", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringsleep (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (6).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (7).jpg', :class => 'salon' )
          .col-xs-4
            .mainbodyfoto
              %h3 Столовая зона
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3300", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringeat (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (6).jpg', :class => 'salon' )
    

%div.furnitur_empty_block1



%div.f_schilling
  .firstdesignmain
    %h2 
      Мебель от производителя 
      %span{:style => "color: #f20a0f"} Mobitec
    
    .firstfotodesignmain
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "left",}
        = image_tag( 'furn/mobitec (1).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (2).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (3).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (4).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (5).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (6).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (7).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (8).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (9).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (10).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (11).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (12).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (13).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (14).jpg', :class => 'salon' )

%div.furnitur_empty_block1



%div.f_schilling
  .firstdesignmain#gak_chtistine
    %h2
      %span{:style => "color: #f20a0f"} Christine Kröncke 
      Мебель и Свет
    
    .firstfotodesignmain
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "","data-ratio" => "16/9",}
        = image_tag( 'ChristineKroncke/Christine1.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine2.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine3.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine4.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine5.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine6.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine7.jpg', :class => 'salon' )

%div.furnitur_empty_block1





%div.whitebloks{:style => "display: none"}


        
  %div.linia
    %hr{:size => "3"}/ 
  .firstdesignmain
    %h2 
      Мебель от производителя 
      %span{:style => "color: #f20a0f"}Musterring
    %div.maincoloms
      .comteiner-fluid
        .row
          .col-xs-4
            .mainbodyfoto
              %h3 Гостинные
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3100", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringgos (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (6).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (7).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (8).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (9).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringgos (10).jpg', :class => 'salon' )

          .col-xs-4
            .mainbodyfoto
              %h3 Прихожие
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3150", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringpri (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringpri (6).jpg', :class => 'salon' )

          .col-xs-4
            .mainbodyfoto
              %h3 Мягкая мебель
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3200", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringmm (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (6).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringmm (7).jpg', :class => 'salon' )

          .col-xs-4
            .mainbodyfoto
              %h3 Спальни
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3250", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringsleep (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (6).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringsleep (7).jpg', :class => 'salon' )
          .col-xs-4
            .mainbodyfoto
              %h3 Столовая зона
              .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "3300", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-allowfullscreen" => "true","data-ratio" => "2/1", "data-width" => "100%"}
                = image_tag( 'furn/Mustrringeat (1).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (2).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (3).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (4).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (5).jpg', :class => 'salon' )
                = image_tag( 'furn/Mustrringeat (6).jpg', :class => 'salon' )
    


  %div.linia{:style => "display: none"}
    %hr{:size => "3"}/ 
  .firstdesignmain
    %h2 
      Мебель от производителя 
      %span{:style => "color: #f20a0f"} Mobitec
    
    .firstfotodesignmain
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "left",}
        = image_tag( 'furn/mobitec (1).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (2).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (3).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (4).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (5).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (6).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (7).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (8).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (9).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (10).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (11).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (12).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (13).jpg', :class => 'salon' )
        = image_tag( 'furn/mobitec (14).jpg', :class => 'salon' )

  %div.linia
    %hr{:size => "3"}/ 
  .firstfotodesignmain
    %h2 
      Матраси и Ламели от производителя 
      %span{:style => "color: #f20a0f"}Lattoflex

    %div{:style => "width: 49%; display: inline-block;"}
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "","data-ratio" => "16/9",}
        = image_tag( 'lattoflex1.png', :class => 'salon' )
        = image_tag( 'lattoflex2.png', :class => 'salon' )
        = image_tag( 'lattoflex3.png', :class => 'salon' )
        = image_tag( 'lattoflex4.png', :class => 'salon' )
    %div{:style => "width: 49%; display: inline-block;"} 
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/iGVcs5nl060?rel=0&showinfo=0", :width => "100%"}


  %div.linia
    %hr{:size => "3"}/ 
  .firstdesignmain#gak_chtistine
    %h2
      %span{:style => "color: #f20a0f"} Christine Kröncke 
      Мебель и Свет
    
    .firstfotodesignmain
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "","data-ratio" => "16/9",}
        = image_tag( 'ChristineKroncke/Christine1.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine2.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine3.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine4.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine5.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine6.jpg', :class => 'salon' )
        = image_tag( 'ChristineKroncke/Christine7.jpg', :class => 'salon' )


= render "layouts/bottomnavigation"