%br
%br
%br
%br

%div.whitebloks

  %div.textmain1
    %h3 MЕБЕЛЬ ОТ САЛОНА IMPERIA 
    %h3 !!!!!!!РАЗДЕЛ В РАЗРАБОТКЕ!!!!!!! 

  %div.linia
    %hr{:size => "3"}/ 
  .firstdesignmain
    %h2 Мебель от производителя " ОДЕССА_МАМА "

    .firstfotodesignmain
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "",}
        = image_tag( 'b1.jpg', :class => 'salon' )
        = image_tag( 'b2.jpg', :class => 'salon' )
        = image_tag( 'b3.jpg', :class => 'salon' )
        = image_tag( 'c1.jpg', :class => 'salon' )
        = image_tag( 'c2.jpg', :class => 'salon' )
        = image_tag( 'c3.jpg', :class => 'salon' )
        = image_tag( 'k1.jpg', :class => 'salon' )
        = image_tag( 'k2.jpg', :class => 'salon' )
        = image_tag( 'k3.jpg', :class => 'salon' )
        
  %div.linia
    %hr{:size => "3"}/ 
  .firstdesignmain
    %h2 Мебель от производителя " ОДЕССА_МАМА "

    .firstfotodesignmain
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "",}
        = image_tag( 'b1.jpg', :class => 'salon' )
        = image_tag( 'b2.jpg', :class => 'salon' )
        = image_tag( 'b3.jpg', :class => 'salon' )
        = image_tag( 'c1.jpg', :class => 'salon' )
        = image_tag( 'c2.jpg', :class => 'salon' )
        = image_tag( 'c3.jpg', :class => 'salon' )
        = image_tag( 'k1.jpg', :class => 'salon' )
        = image_tag( 'k2.jpg', :class => 'salon' )
        = image_tag( 'k3.jpg', :class => 'salon' )

  %div.linia
    %hr{:size => "3"}/ 
  .firstdesignmain
    %h2 Мебель от производителя " ОДЕССА_МАМА "

    .firstfotodesignmain
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "",}
        = image_tag( 'b1.jpg', :class => 'salon' )
        = image_tag( 'b2.jpg', :class => 'salon' )
        = image_tag( 'b3.jpg', :class => 'salon' )
        = image_tag( 'c1.jpg', :class => 'salon' )
        = image_tag( 'c2.jpg', :class => 'salon' )
        = image_tag( 'c3.jpg', :class => 'salon' )
        = image_tag( 'k1.jpg', :class => 'salon' )
        = image_tag( 'k2.jpg', :class => 'salon' )
        = image_tag( 'k3.jpg', :class => 'salon' )

= render "layouts/bottomnavigation"