= simple_form_for @portfolio, html: { multipart: true } do |f|
	- if @portfolio.errors.any?
		#errors
			%p
				= @portfolio.errors.count
				Prevented this portfolio froms saving
			%ul
				- @portfolio.errors.full_messages.each do |msg|
					%li= msg
	.panel-body
		= f.input :title, input_html: { class: 'form-control' }
		= f.input :city, input_html: { class: 'form-control' }
		= f.input :description1, input_html: { class: 'form-control' }
		= f.input :description2, input_html: { class: 'form-control' }
		= f.input :portfolio_turn, input_html: { class: 'form-control' }
		= f.input :image, input_html: { class: 'form-control' }

		.row

			.col-md-6
				%h3 Ingredients

				#ingredients
					= f.simple_fields_for :kitchensions do |kitt|
						= render 'kitchension_fields', f: kitt
					.links
						= link_to_add_association 'добавить кухню', f, :kitchensions, class: "btn btn-default add-button"


			.col-md-6
				%h3 Directions
				#directions
					= f.simple_fields_for :technitions do |tec|
						= render 'technition_fields', f: tec
					.links
						= link_to_add_association 'добавить технику', f, :technitions, class: "btn btn-default add-button"

			.col-md-6
				%h3 Directions
				#directions
					
					= f.simple_fields_for :poimages do |poi|
						= render 'poimage_fields', f: poi



					.links
						= link_to_add_association 'Добавить изображение ', f, :poimages, class: "btn btn-default add-button"

	= f.button :submit, class: "btn btn-primary"