
.whiteblockportfolio
  .portfolio_show_first_block
    = link_to "Back", portfolios_path, class: "btn btn-default"
    - if user_signed_in?
      = link_to "Edit", edit_portfolio_path, class: "btn btn-default"
      = link_to "Delete", portfolio_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"

  .portfolio_show_second_block
    .project_title
      = @portfolio.title

  .portfolio_show_third_block
    .project_description
      = @portfolio.description1


  .portfolio_show_fourth_block
    .project_description
      = @portfolio.description2

  .portfolio_show_fifth_block
    .project_info
      .project_info_kitchens
        %h3{:style => "padding-left: 70px;"} Элементы Кухни
        %ul
          - @portfolio.kitchensions.each do |kkk|
            %li= kkk.kit
      .project_info_technick
        %h3{:style => "text-align: center;"} Механизмы и Технологии
        %ul
          - @portfolio.technitions.each do |tt|
            %li= tt.tech

  %br
  .portfolio_show_sixth_block
    .project_foto
      .fotorama{"data-nav" => "thumbs", "data-autoplay"  => "4000", "data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => "","data-ratio" => "2/1", "data-width" => "100%"}
        - @portfolio.poimages.each do |pp|
          = image_tag pp.pimg.url(:hard), class: "salon"


    .row
      .col-md-12
        = link_to "Back", root_path, class: "btn btn-default"
        - if user_signed_in?
          = link_to "Edit", edit_portfolio_path, class: "btn btn-default"
          = link_to "Delete", portfolio_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"