
.graydeliver

.headpickture
  = image_tag( 'deliveryhead.jpg', :class => 'delihead' )



.whiteblokdesign
  %div.whitebloks
    %div.firstdesign
      %h1 Партнерская Программа 
      %p{:style => "font-weight: bold;"} Сотрудничество с NOBILIA — это возможность реализовывать интересные проекты и повышать свой профессиональный уровень. Мы сформулировали принципы работы с дизайнерами и архитекторами, основанные на взаимном удобстве и пользе.
    %div.seconddesign
      %div.designcoloms
        .conteiner-fluid
          .row
            .col-lg-6.col-md-12
              .colomicondesign
                = image_tag( 'Ruby.jpg', :class => 'icondesign' )
              %h4.mposition Уникальный ассортимент
              %p Напрямую поставляем продукцию люксовых европейских фабрик. Предоставляем бумажные и электронные каталоги, образцы материалов.
              %h4.mposition Разнообразная экспозиция
              %p В двух наших салонах представлены кухни разных стилей в полной комплектации, а также мебель, посуда, светильники, интерьерные аксессуары.           
              %h4.mposition Полный проект кухни
              %p Разрабатываем 3D-проект, включающий схему размещения техники, электровыводов, водоснабжения и вентиляции. 
              %h4.mposition Полная комплектация кухни
              %p Подбираем и закупаем бытовую технику, мебель, декор. Берем на себя все заботы о логистике.
              %h4.mposition Гарантия и сервис
              %p Бесплатно выезжаем в любую точку Украины для замера и монтажа. Несем гарантийные и сервисные обязательства. В случае рекламационных претензий устраняем недостатки максимально быстро.
            .col-lg-6.col-md-12
              .colomicondesign
                = image_tag( 'pers.jpg', :class => 'icondesign' )
              %h4.mposition Место встречи с клиентами
              %p В салоне можно забронировать время для встречи заказчиками в удобной обстановке: представительный интерьер, кофе и приятная музыка.
              %h4.mposition Участие в мероприятиях салона
              %p Приглашаем на обучающие семинары и праздники салона. Организуем поездки на выставки в Германию и обучение на фабриках.
              %h4.mposition Гибкий расчет
              %p Рассчитываем стоимость кухни по нескольким вариантам дизайн-проекта и в нескольких ценовых категориях.          
              %h4.mposition Система скидок
              %p Предоставляем скидки от 5 до 25% на каждый заказ в зависимости от его суммы, условий поставки и оплаты.
              %h4.mposition Рекламная и PR-поддержка
              %p Проводим фотосъемку реализованных проектов и предоставляем фотографии авторам интерьера. Организуем совместные рекламные акции и публикации в профильных журналах.

    /
      %div.companion
        
        %div.companioncoloms
          .conteiner-fluid
            .row
              %h1 С нами сотрудничают
              .col-sm-3
                .companionfoto
                  = image_tag( 'alex.jpg', :class => 'companionicondesign' )
                %p Александр Игнатьев
                %p студия i-project
              .col-sm-3
                .companionfoto
                  = image_tag( 'dmitr.jpg', :class => 'companionicondesign' )
                %p Дмитрий Барашко
                %p студия INTERRA
              .col-sm-3
                .companionfoto
                  = image_tag( 'nata.jpg', :class => 'companionicondesign' )
                %p Наталья Галонская
                %p студия i-project
              .col-sm-3
                .companionfoto
                  = image_tag( 'pavel.jpg', :class => 'companionicondesign' )
                %p Павел Горбацевич
                %p студия ARCHSYSTEMS


    %div.thirddesign
      %h1 Хотите узнать подробности?
      %p Оставьте заявку и узнайте больше об условиях сотрудничества.
      %p Поверьте, нам есть, чем вас порадовать.
    %div.foursdesign
      #consider= link_to "УЗНАТЬ БОЛЬШЕ", home_contacts_path 


    %div.fifthdesign
= render "layouts/bottomnavigation"
