%div.mainpage_grey60

%div.mainpage_headerslider
  .mainpage-header-carusel{:style => "margin-bottom: -10px;"}
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_1.jpg', :class => 'mainpage_header_carusel_img' )
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_2.jpg', :class => 'mainpage_header_carusel_img')
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_3.jpg', :class => 'mainpage_header_carusel_img')
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_4.jpg', :class => 'mainpage_header_carusel_img')
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_5.jpg', :class => 'mainpage_header_carusel_img')
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_6.jpg', :class => 'mainpage_header_carusel_img')
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_7.jpg', :class => 'mainpage_header_carusel_img')
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_8.jpg', :class => 'mainpage_header_carusel_img') 
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_9.jpg', :class => 'mainpage_header_carusel_img' )
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_10.jpg', :class => 'mainpage_header_carusel_img')
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_11.jpg', :class => 'mainpage_header_carusel_img')
    %div{:style => "height: auto;"}= image_tag( 'mainpage/mainpage_header_12.jpg', :class => 'mainpage_header_carusel_img')
  .mainpage-header-carusel-nav{:style => "position: absolute;"}
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_1_m.jpg', :class => 'mainpage_header_carusel_img_nav')
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_2_m.jpg', :class => 'mainpage_header_carusel_img_nav')
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_3_m.jpg', :class => 'mainpage_header_carusel_img_nav')
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_4_m.jpg', :class => 'mainpage_header_carusel_img_nav')
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_5_m.jpg', :class => 'mainpage_header_carusel_img_nav')
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_6_m.jpg', :class => 'mainpage_header_carusel_img_nav')
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_7_m.jpg', :class => 'mainpage_header_carusel_img_nav')
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_8_m.jpg', :class => 'mainpage_header_carusel_img_nav') 
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_9_m.jpg', :class => 'mainpage_header_carusel_img_nav' )
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_10_m.jpg', :class => 'mainpage_header_carusel_img_nav')
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_11_m.jpg', :class => 'mainpage_header_carusel_img_nav')
    %div{:style => ""}= image_tag( 'mainpage/mini/mainpage_header_12_m.jpg', :class => 'mainpage_header_carusel_img_nav')

  .mainpage_header_carusel_lozung
    .header_lozung1
      %h3 КУХНИ ИЗ ГЕРМАНИИ
      %h4 Гарантия 7 лет на кухни и 15 лет на механизмы
  .mainpage_header_carusel_lozung
  .mainpage_header_carusel_lozung


.kitchen_tech
  .characters_kitchen
    %div.firstmain
      %h3 Салон IMPERIA разрабатывает индивидуальные проекты кухонь производства немецких фабрик Nobilia, Bauformat, Beeck Kuchen.

    %div.secondmain{:style => ""}
      %div.maincoloms
        .comteiner-fluid
          .row
            .col-md-3
              .tehno_3d
                .rotate_tehno
                  .tehno_img_rotate_k 
                    %h3 Качество
                    = image_tag( 'kach.gif', :class => 'mainbodyfoto' )
                  .tehno_text_rotate_k
                    %h3 Качество
                    %p Немецкие фабрики — это современные дорогостоящие технологии и высокая степень автоматизации производства, недостижимая для небольших предприятий. Только так получается мебель, отвечающая требованиям премиум-сегмента.
                    .navbut_portfolio
                      = link_to "Подробнее", kitchens_path
            .col-md-3
              .tehno_3d
                .rotate_tehno
                  .tehno_img_rotate_k 
                    %h3 Технологии
                    = image_tag( 'teh1.gif', :class => 'mainbodyfoto' )
                  .tehno_text_rotate_k
                    %h3 Технологии
                    %p В наших кухнях продумана каждая деталь: от аккуратной лазерной кромки до невидимой глазу фурнитуры. Внедрены современные кухонные системы: доводчики, электрические подъемные механизмы, открывающие сенсорные панели.
                    .navbut_portfolio
                      = link_to "Подробнее", kitchens_path
            .col-md-3
              .tehno_3d
                .rotate_tehno
                  .tehno_img_rotate_k 
                    %h3 Конструктор
                    .mainbodyfoto
                      .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "1000", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-ratio" => "1/1", "data-width" => "100%", "data-arrows" => "false"}
                        = image_tag( 'kons1.jpg', :class => 'mainbodyfoto' )
                        = image_tag( 'kons2.jpg', :class => 'mainbodyfoto' )
                        = image_tag( 'kons3.jpg', :class => 'mainbodyfoto' )
                  .tehno_text_rotate_k
                    %h3 Конструктор
                    %p Nobilia предлагает широкий ассортимент внутренних и рейлинговых систем хранения, встраиваемого освещения. Для комплектации выдвижных ящиков также предлагаются системы хранения «Pantry-Box», электрическая мультирезка, выдвижные корзины для чистящих средств, мусорные системы и т.д.
            .col-md-3
              .tehno_3d
                .rotate_tehno
                  .tehno_img_rotate_k 
                    %h3 Экология
                    .mainbodyfoto
                      .fotorama{"data-nav" => "false", "data-transition" => "lide","data-arrows" => "true", "data-click" => "true", "data-autoplay"  => "1000", "data-loop" =>"true", "data-stopautoplayontouch" => "true","data-ratio" => "1/1", "data-width" => "100%",  "data-arrows" => "false"}
                        = image_tag( 'prefcerf.png', :class => 'mainbodyfoto' )
                        = image_tag( 'angelcerf.png', :class => 'mainbodyfoto' )
                        = image_tag( 'goldenes_m_serf.jpg', :class => 'mainbodyfoto' )
                        = image_tag( 'gs_certification.jpg', :class => 'mainbodyfoto' )
                  .tehno_text_rotate_k
                    %h3 Экология
                    %p Кухни из Германии выпускаются по «зеленым» технологиям. Производство не выделяет вредных веществ в атмосферу, отходы утилизируются, а древесина добывается из контролируемых лесонасаждений и имеет сертификат PEFC, а так же сертификаты Golden M, знак GS, DER BLAUE ENGEL. 


.mainpage_kyhni_accardion
  %ul.accordion_mainpage_kuchny
    %li
      %div.accord_mp_k_header
        %h4 Кухни в современном стиле
      %div.accord_mp_k_body
        %div.accord_mp_k_body_text
          %p Кухня в современном стиле — это нечто особенное. В философии такой кухонной архитектуры на первом месте всегда функциональность. Эстетика упрощена до минимализма. 
          %p Современная кухня создана для перфекционистов. 
          .accord_mp_k_body_text_button
            = link_to "Подробнее", kitchens_path,class: "accord_mp_k_body_text_button_block"          
        %div.accord_mp_k_picture
          .accord-mp-k-carusel
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/sv1_m.jpg')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/sv2_m_castella.jpg')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/sv3_m.jpg')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/sv4_m.jpg')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/sv5_m.jpg')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/sv7_m.jpg') 
    %li
      %div.accord_mp_k_header
        %h4 Кухни в традиционном стиле
      %div.accord_mp_k_body
        %div.accord_mp_k_body_text
          %p Традиционный стиль — это классика в новом прочтении, живая и жизнерадостная. Здесь в разумной пропорции сочетаются элегантность и скромность, а интересные мелочи подчеркивают индивидуальность. 
          %p Тот кто любит себя баловать, не останется равнодушным. 
          .accord_mp_k_body_text_button
            = link_to "Подробнее", kitchens_path,class: "accord_mp_k_body_text_button_block"           
        %div.accord_mp_k_picture
          .accord-mp-k-carusel
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/kl1_m.jpg', :class => '')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/kl3_m.jpg', :class => '')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/kl8_m.jpg', :class => '')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/kl9_m.jpg', :class => '')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/kl10_m.jpg', :class => '') 

    %li
      %div.accord_mp_k_header
        %h4 Кухни без ручек
      %div.accord_mp_k_body
        %div.accord_mp_k_body_text
          %p Кухня без ручек — компромисс между декоративностью и строгостью. Ее маленький секрет — скрытая система доводчиков. В дизайне нет жестких правил, доступны любые цвета и материалы. Спокойные, гладкие кухонные фронты контрастных оттенков создают современный и в то же время уютный образ.  
          .accord_mp_k_body_text_button
            = link_to "Подробнее", kitchens_path,class: "accord_mp_k_body_text_button_block"          
        %div.accord_mp_k_picture
          .accord-mp-k-carusel
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/wr1_m.jpg', :class => '')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/wr2_m.jpg', :class => '')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/wr3_m.jpg', :class => '')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/wr4_m.jpg', :class => '')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/wr5_m.jpg', :class => '') 
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/wr6_m.jpg', :class => '') 
    %li
      %div.accord_mp_k_header
        %h4 Кухни "Коттедж"
      %div.accord_mp_k_body
        %div.accord_mp_k_body_text
          %p Кухни выполнены в лучших традициях классического стиля -изысканный декор, элегантная кухонная фурнитура, выдержанные пропорции.    
          .accord_mp_k_body_text_button
            = link_to "Подробнее", kitchens_path,class: "accord_mp_k_body_text_button_block"         
        %div.accord_mp_k_picture
          .accord-mp-k-carusel
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/kotedj1_m.jpg', :class => '')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/kotedj2_m.jpg', :class => '')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/kotedj3_m.jpg', :class => '')
            %div{:style => ""}= image_tag( 'mainpage/carrusel/width360/kotedj4_m.jpg', :class => '')


/.headpickturemain
/  = image_tag( 'MAINFOTO.jpg', :class => 'mainhead' )
/.headpickturemainmob
/  = image_tag( 'MAINFOTOmob.png', :class => 'mainhead')
/.mainheadlozung
/  .headwords
/    %p#textmainhead1 Кухни из Германии
/    %p#textmainhead2 ПОД ЗАКАЗ
/    %p#textmainhead2 ГАРАНТИЯ 7 ЛЕТ НА КУХНИ И 15 ЛЕТ НА МЕХАНИЗМЫ
/    %p#textmainhead3 РАБОТАЕМ ПО ВСЕЙ УКРАИНЕ
/    .mainheadcontact
/      #mainheadcontactcall= link_to "ЗАКАЗАТЬ КУХНЮ", new_contact_path

.whiteblokmain
  %div.whitebloks
      
    %div.textmain1
      %h3 IMPERIA поставляет кухни на заказ напрямую от производителей из Германии. У нас собственная служба логистики, команда талантливых дизайнеров и опытных сборщиков.


.portfoliopickturemain
  .portfolipick
    = image_tag( 'mainbodyfotoBIG.jpg', :class => 'mainbodyportfolio' )
  .greyfonportfoliomain
  .linkfonportfoliomain
    .linkblock
      = link_to "РЕАЛИЗОВАННЫЕ ПРОЕКТЫ", portfolios_path  



.whiteblokmain2
  %div.whitebloks2
    %div.linia
      %hr{:size => "3"}/
    %div.maingorod
      %h2 Доставка и монтаж по всей Украине
      %p В салоне NOBILIA можно купить кухню под заказ любой сложности: линейную, угловую, кухню с островом. В своих проектах мы используем все возможные материалы: МДФ, ламинат, пластик, массив дерева. Для отделки применяем шпон, стекло, керамику и бетон. 
      %p Мы контролируем изготовление заказа в Германии и организуем доставку. Бесплатно устанавливаем кухню в Одессе и других городах Украины.
    

    %div.linia
      %hr{:size => "3"}/
    %div.thirdcontact
      %h1 Расчет стоимости кухни
      %p Оставьте заявку, и мы сделаем предварительный расчет стоимости кухни.
    %div.fourthcontact
      #call= link_to "РАССЧИТАТЬ СТОИМОСТЬ КУХНИ", new_contact_path 


    %div.fifthdeliver
= render "layouts/bottomnavigation"