%br
%br
%br
%br

%div.whitebloks

  %div.textmain1
    %h3 
      Предлагаем Вам выставочные обрасци кухонь   
      %span{:style => "color: #f20a0f"} NOBILIA 
      со стоимостью на 
      %span{:style => "color: #f20a0f"} 70%  
      ниже
      %span{:style => "color: #f20a0f"} !!!

    %h3
      выставочные обрасци от салона 
      ИМПЕРИЯ
    %h3{:style => "display: none"} !!!!!!!РАЗДЕЛ В РАЗРАБОТКЕ!!!!!!! 

  
  %div.linia
    %hr{:size => "3"}/ 
  .firstfotodesignmain
    %h3 
      Кухня
      "
      %span{:style => "color: #f20a0f"}Beeck Kuchen
      "

    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"}
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Beeck Kuchen2.jpg', :class => 'salon' )
    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"} 
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Beeck Kuchen1.jpg', :class => 'salon' )

  %div.linia
    %hr{:size => "3"}/ 
  .firstfotodesignmain
    %h3
      Кухня
      "
      %span{:style => "color: #f20a0f"}Castello Magnolia
      "

    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"}
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Castello Magnolia2.jpg', :class => 'salon' )
    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"} 
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Castello Magnolia1.jpg', :class => 'salon' )


  %div.linia
    %hr{:size => "3"}/ 
  .firstfotodesignmain
    %h3 
      Кухня
      "
      %span{:style => "color: #f20a0f"}Finesse Alpine White
      "

    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"}
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Finesse Alpine White1.jpg', :class => 'salon' )
    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"} 
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Finesse Alpine White2.jpg', :class => 'salon' )

  %div.linia
    %hr{:size => "3"}/ 
  .firstfotodesignmain
    %h3 
      Остров
      "
      %span{:style => "color: #f20a0f"}Flash White
      "

    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"}
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Flash White1.jpg', :class => 'salon' )
    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"} 
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Flash White2.jpg', :class => 'salon' )

  %div.linia
    %hr{:size => "3"}/ 
  .firstfotodesignmain
    %h3 
      Кухня
      "
      %span{:style => "color: #f20a0f"}Mineral Grey
      "

    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"}
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Focus Mineral Grey1.jpg', :class => 'salon' )
    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"} 
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Focus Mineral Grey2.jpg', :class => 'salon' )

  %div.linia
    %hr{:size => "3"}/ 
  .firstfotodesignmain
    %h3 
      Кухня
      "
      %span{:style => "color: #f20a0f"}Lux Magnolia
      "

    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"}
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Lux Magnolia1.jpg', :class => 'salon' )
    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"} 
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Lux Magnolia2.jpg', :class => 'salon' )

  %div.linia
    %hr{:size => "3"}/ 
  .firstfotodesignmain
    %h3 
      Кухня
      "
      %span{:style => "color: #f20a0f"}Touch Grey
      "

    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"}
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Touch Grey1.jpg', :class => 'salon' )
    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"} 
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia Touch Grey2.jpg', :class => 'salon' )

  %div.linia
    %hr{:size => "3"}/ 
  .firstfotodesignmain
    %h3 
      Кухня
      "
      %span{:style => "color: #f20a0f"}Satin Grey
      "

    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"}
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia York Satin Grey2.jpg', :class => 'salon' )
    %div{:style => "width: 46.8%; display: inline-block; margin: 1%;"} 
      .fotorama{"data-loop" =>"true", "data-allowfullscreen" => "true", "data-transition" => "crossfade", "data-navposition" => ""}
        = image_tag( 'discount/Nobilia York Satin Grey1.jpg', :class => 'salon' )



= render "layouts/bottomnavigation"