.contactblok
  .botnavfirst

    = link_to "ГЛАВНАЯ", home_main_path
    = link_to "КУХНИ", home_main_path
    = link_to "ПОРТФОЛИО", home_main_path

  .botnavsecond
    = link_to "КОНТАКТЫ САЛОНA", home_contacts_path 
    = link_to "ДОСТАВКА", home_delivery_path 
    = link_to "ДИЗАЙНЕРАМ", home_design_path 

  
  .botnavfourth
    %p NOBILIA — кухни из Германии, мебель, аксессуары
  .botnavfifth
    %p ОДЕССА-МАМА, Екатерининская 73
  .botnavsixth
    %p Пн.-Сб.: с 10:00 до 19:00   
    %p Вс.: Выходной



  .botnavthird
    .contactlink 
      = link_to image_tag( 'fb.svg', :class => 'iconbar' ), "http://nobilia.com.ua/nobilia.com.ua/Glavnaa.html", target: '_blank'
    .contactlink
      = link_to image_tag( 'vk.svg', :class => 'iconbar' ), "http://nobilia.com.ua/nobilia.com.ua/Glavnaa.html", target: '_blank'
    .contactlink
      = link_to image_tag( 'inst.svg', :class => 'iconbar' ), "http://nobilia.com.ua/nobilia.com.ua/Glavnaa.html", target: '_blank'
    .contactlink
      = link_to image_tag( 'google.svg', :class => 'iconbar' ), "http://nobilia.com.ua/nobilia.com.ua/Glavnaa.html", target: '_blank'
    .contactlink
      = link_to image_tag( 'mail.svg', :class => 'iconbar' ), "http://nobilia.com.ua/nobilia.com.ua/Glavnaa.html", target: '_blank'

  .botnavseventh
    %h3 03 455 4675  |  784 54 33  |  design@nobilia.com.ua
  
  .botnaveighth
    %p ООО «NOBILIA», УНП XAXAXAXA
  .botnavninth
    %p.glyphicon.glyphicon-copyright-mark 
      %span{:style => "font-size:25px;"} 2017
