.contactblok
  .botnavfirst

    = link_to "ГЛАВНАЯ", home_main_path, :class => main_class?(home_main_path)
    = link_to "КУХНИ", home_main_path
    = link_to "ПОРТФОЛИО", portfolios_path, :class => portfolios_class?(portfolios_path)
    = link_to "МЕБЕЛЬ", furniturs_path, :class => furniturs_class?(furniturs_path)

  .botnavsecond
    = link_to "КОНТАКТЫ САЛОНA", home_contacts_path, :class => contacts_class?(home_contacts_path)
    = link_to "ДОСТАВКА",  home_delivery_path, :class => delivery_class?(home_delivery_path)
    = link_to "ДИЗАЙНЕРАМ", home_design_path, :class => design_class?(home_design_path)


    

  
  .botnavfourth
    %p IMPERIA — кухни из Германии, мебель, аксессуары
  .botnavfifth
    %p ОДЕССА, Екатерининская 73
  .botnavsixth
    %p Пн.-Сб.: с 10:00 до 19:00   
    %p Вс.: Выходной



  .botnavthird
    .contactlink 
      = link_to image_tag( 'fb.svg', :class => 'iconbar' ), "http://nobilia.com.ua/nobilia.com.ua/Glavnaa.html", target: '_blank'
    .contactlink
      = link_to image_tag( 'vk.svg', :class => 'iconbar' ), "http://nobilia.com.ua/nobilia.com.ua/Glavnaa.html", target: '_blank'
    .contactlink
      = link_to image_tag( 'inst.svg', :class => 'iconbar' ), "http://nobilia.com.ua/nobilia.com.ua/Glavnaa.html", target: '_blank'
    .contactlink
      = link_to image_tag( 'google.svg', :class => 'iconbar' ), "http://nobilia.com.ua/nobilia.com.ua/Glavnaa.html", target: '_blank'
    .contactlink
      = link_to image_tag( 'mail.svg', :class => 'iconbar' ), "http://nobilia.com.ua/nobilia.com.ua/Glavnaa.html", target: '_blank'

  .botnavseventh
    %h3 048 784 54 33 | +38 068 704 5433 | +38 050 704 5433 |  nobilia.odessa@gmail.com
  
  .botnaveighth
    %p ФОП "ГЕЙКО В.А."
  .botnavninth
    %p.glyphicon.glyphicon-copyright-mark 
      %span{:style => "font-size:25px;"} 2017
